<mat-checkbox
  #showDetails
  [checked]="isChecked"
  (change)="onChange($event)"
> Show details</mat-checkbox>

<div *ngIf="showDetails.checked">Some details...</div>

<br>
<hr>

<mat-radio-group value="0">
  <mat-radio-button value="1">Male</mat-radio-button>
  <!-- first way to show checked values -->
  <!-- <mat-radio-button value="0" [checked]="isChecked">Female</mat-radio-button> -->
  <!-- secon way to show checked values (pass value in mat radio group) -->
  <mat-radio-button value="0">Female</mat-radio-button>
</mat-radio-group>

<br><br>
<hr>

<mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select [(ngModel)]="color">
    <mat-option
    *ngFor="let color of colors"
    [value]="color.id"
    >{{ color.name }}</mat-option>
  </mat-select>
</mat-form-field>

<br>
<hr>

<mat-form-field>
  <input ngModel #username="ngModel" name="username" matInput type="text" placeholder="Username" required>
  <mat-hint>Type unique username</mat-hint>
  <span matSuffix>@domain.com</span>
  <mat-error *ngIf="username.invalid && username.errors?.['required']">The username is required</mat-error>
</mat-form-field>

<br><br>
<hr>

<!-- Rxjs subject and behaviour subject -->
<mat-card>
  <mat-card-title>Rxjs: subject and behaviour subject</mat-card-title>
  <mat-card-subtitle>Start</mat-card-subtitle>
  <strong *ngIf="exclusive">Exclusive</strong>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>